@import shadows
@import flexbox

$backdrop-color       : black !default

$main-container-back   : white !default
$main-container-color  : black !default
$main-container-width  : 1000px !default
$main-container-shadow : 0px 0px 20px rgba(black, 1) !default

$header-back       : black !default
$header-back-light : grey !default
$header-color      : white !default
$header-padding : 10px !default

$footer-back       : black !default
$footer-color      : white !default
$footer-padding : 10px !default

$section-padding     : 10px !default
$section-margin      : 0px !default
$section-sub-margin  : 0 0 0 10px !default
$section-sub-padding : 0 10px !default
$section-back     : white !default
$section-border-width : 1px 0px !default
$section-border-style : solid !default
$section-border-color : black !default

$section-head-padding : 10px !default

$inner-content-padding : 0px 10px !default
$inner-content-magrin  : 0px !default

=zero-box
  padding : 0
  margin  : 0

.base
  +zero-box
  background : $backdrop-color
  height     : 100%

.main-container
  background : $main-container-back
  color      : $main-container-color
  width      : $main-container-width
  padding    : 0
  margin     : 0 auto
  +box-shadow($main-container-shadow)

.header
  margin  : 0
  padding : $header-padding
  background : $header-back
  color      : $header-color

.header--light
  background : $header-back-light

.footer
  margin  : 0
  padding : $footer-padding
  background : $footer-back
  color      : $footer-color
  text-align : center

.section
  margin     : $section-margin
  padding    : $section-padding
  background : $section-back
  border-width : $section-border-width
  border-style : $section-border-style
  border-color : $section-border-color

.section__head
  +flexbox
  +align-items(center)
  padding     : $section-head-padding

  &:hover
    background : rgba(#000000, .03)

.section__head--grow
  +flex(1 0 auto)


.sub-section
  padding : $section-sub-padding
  margin  : $section-sub-margin

.inner-content
  padding : $inner-content-padding
  margin  : $inner-content-magrin
  

