$accent-1      : #0e778a
$accent-0      : #14b9d5

$primary-0     : #ffffff
$primary-1     : #eaedf2
$primary-2     : darken(#9fa7b4, 15%)
$primary-3     : #323a45

$color-success : #2ecc71
$color-info    : $accent-0
$color-warning : #ffd200
$color-danger  : #e74c3c
$color-undef   : darken(#9fa7b4, 15%)

