$green-light        : #99CC00
$green-dark         : #669900
$blue-light         : #33B5E5
$blue-dark          : #0099CC
$purple-light       : #AA66CC
$purple-dark        : #9933CC
$orange-light       : #FFBB33
$orange-dark        : #FF8800
$red-light          : #FF4444
$red-dark           : #CC0000

$white-light        : #fefefe
$white-dark         : #e0e0e0
$grey-light         : #cccccc
$grey-dark          : #404040

$accent-1           : #0e778a
$accent-0           : #14b9d5

$primary-bg         : $white-dark
$primary-fg         : $white-light
$primary-font       : $grey-dark
$primary-font-light : $white-light

$color-success      : $green-dark
$color-info         : $blue-dark
$color-warning      : $orange-dark
$color-danger       : $red-dark
$color-undef        : $grey-dark

