$font-size-1 : 1rem !default
$font-size-2 : 1.071rem !default
$font-size-3 : 1.28rem !default
$font-size-4 : 1.714rem !default
$font-size-5 : 2rem !default

=default-font
  font-family: Lato,"Segoe UI", Frutiger, "Frutiger Linotype", 'Helvetica Neue',Arial,Helvetica, sans-serif




