@import fonts


$heading-divider-color : rgba(0, 0, 0, .1) !default

.heading
  +default-font
  font-size     : $font-size-1
  font-weight   : 700
  margin-top    : 2rem
  margin-bottom : 1rem
  line-height   : 1.33em

.heading--h1
  font-size : $font-size-5

.heading--h2
  font-size : $font-size-4

.heading--h3
  font-size : $font-size-3

.heading--h4
  font-size : $font-size-2

.heading--h5
  font-size : $font-size-1

.heading__divider
  padding-bottom: .25rem
  margin-top : 5rem
  margin-bottom : 3rem
  border-bottom : 1px solid $heading-divider-color

