$font-size-base : 12px
$font-size-1    : 1rem
$font-size-2    : 1.071rem
$font-size-3    : 1.28rem
$font-size-4    : 1.714rem
$font-size-5    : 2rem

$color-dark-1  : #1e1e1e
$color-dark-2  : #202020
$color-dark-3  : #232323

$color-light-1 : #fefefe

$color-accent-1 : #AE4353
$color-accent-2 : #F5696C

$color-alt-1 : #8A9D43
$color-alt-2 : #C6DE64


$unit    : 20px
$subunit : 5px

$default-padding : $unit
$default-light-color : $color-light-1
$default-font-light  : $default-light-color
$default-font-dark   : #4e4e4e


$backdrop-color       : #1e1e1e


$main-container-back   : $color-light-1
$main-container-color  : $default-font-dark
$main-container-width  : 1280px
$main-container-shadow : 0px 0px 10px rgba(black, .8)

$header-back       : $color-dark-2
$header-back-light : #232323
$header-color   : $default-font-light
$header-padding : (1.5*$default-padding) $default-padding

$footer-back       : $color-dark-2
$footer-color      : $default-font-light
$footer-padding : (1.5*$default-padding) $default-padding

$section-padding     : $default-padding
$section-sub-padding : 0 0 0 $default-padding
$section-sub-margin  : 0
$section-back        : $default-light-color
$section-back-alt    : rgba(0,0,0,.05)

$heading-divider-color : rgba(0, 0, 0, .2) 

$group-sign-color : $default-font-dark 

$badge-default-font-size : 1rem 
$badge-border-color : $color-dark-3
$badge-neutral-border-width : 2px
$badge-neutral-back : transparent
$badge-positive-border-width : 0
$badge-positive-back : $color-alt-2
$badge-negative-border-width : 0
$badge-negative-back : $color-accent-2

