@import colors

// dimension units

// $pixel   : 1px
// $subunit : 5px
// $unit    : 20px


// golden ratio
$golden-large-ratio : 1.61803
$golden-small-ratio : 0.61803

// font sizes
$font-size-base     : 16px
$font-size-normal   : $font-size-base
$font-size-small    : ceil($font-size-base * 0.8 ) 
$font-size-big      : ceil($font-size-base * $golden-large-ratio)
$font-size-bigger   : ceil($font-size-big * $golden-large-ratio)

// dimensions
$controls-height    : ceil($font-size-base * 2.1875)
$controls-padding   : ceil($font-size-normal * 0.8)
$spacer-min         : 2px
$spacer-med         : 1em
$spacer-max         : 2em

$default-radius     : 3px

// colors
$default-background : white
$default-fontcolor  : $primary-2

