@import colors

// dimension units
$subunit : 5px
$unit    : 20px

$column-gutter : $unit
$row-gutter    : $unit
$grid-width  : 1280px



// font sizes
$font-size-base     : 16px

$font-size-normal : 1rem
$font-size-1      : 1rem
$font-size-2      : 1.071rem
$font-size-3      : 1.28rem
$font-size-4      : 1.714rem
$font-size-5      : 2rem


// dimensions
$controls-height    : ceil($font-size-base * 2.1875)
$controls-padding   : ceil($font-size-base * 0.8)
$spacer-min         : 2px
$spacer-med         : 1em
$spacer-max         : 2em

$default-radius     : 3px


