@import reset
@import variables
@import fonts
@import head_foot
@import headers

*
  box-sizing  : border-box


html
  +default-font
  font-size  : $font-size-base
  height     : 100%

body
  background : $primary-bg
  height     : 100%
  position   : relative
  margin     : 0

.main-container
  width            : 1000px
  margin           : 0 auto
  position         : relative
  min-height       : 100%
  color            : $primary-font
  background-color : $primary-fg
  border-right     : 1px solid darken($primary-bg, 17%)
  border-left      : 1px solid darken($primary-bg, 17%)
  padding          : $unit


.menu
  // +header-two-levels($green-dark, $green-light, 10px, $unit)
  +header-generic($green-dark, $unit)
  +default-font
  color  : $primary-font-light
  margin : (-$unit) (-$unit) 0px
  
