@import reset
@import grid
@import fonts
@import variables

*
  box-sizing  : border-box


html
  font-size        : $font-size-base
  background-color : $primary-bg

body
  +fixed-width-grid
  +default-font
  height           : 100vh
  background-color : $primary-fg
  color            : $primary-font
  border-left      : 1px solid darken($primary-bg, 17%)
  border-right     : 1px solid darken($primary-bg, 17%)

.main-container
  @extend %double-size-padding

.menu
  @extend %double-size-padding
  color            : $primary-font-light
  background-color : $color-success
  height           : 4rem
//  background-color : darken($primary-bg, 17%) 
