@import reset
@import settings
@import fonts
@import boxes
@import headings
@import extras
@import tables
@import menus
@import inputs
@import loader
@import navbar

html
  @extend .base
  +default-font
  font-size : $font-size-base
  overflow-y  : scroll

a
  text-decoration : none
  &:link
    color : $color-cornflower-blue
  &:visited
    color : $color-steel-blue     

.text
  margin: $default-margin 0

.error
  color: $color-error

.active
  color : $color-white

.inactive
  color : $color-silver-chalice
