!!! HTML
%html
  %head
    %title Test Report
    %link(rel='stylesheet' type='text/css' href='css/report.css')
    %script(src='data.js')
  %body
    .header
      .heading.heading--h1.error
        FAILED!
    .header.header--light
      Options
    .container
      .section
        .heading.heading--h1
          Overview
      .divider
      .section
        .section
          .section__head
            %span.group-closed-sign.error
            .heading.heading--h1.section__head--grow
              Feature A1
            %span.heading.heading--h5.heading--no-padding
              %span.error 0
              %span /123
        .heading.heading--h2
          Feature A2
        .heading.heading--h3
          Feature A3
        .heading.heading--h4
          Feature A4
        .section__head
          %span.group-opened-sign
          .heading.heading--h5
            Feature A5
        .text
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
        .heading.heading--h2
          .group-closed 
          Suite S1
        .heading.heading--h5
        .group-opened
        Test T1
        %span.badges-group
          %span.badge.badge--neutral 1
          %span.badge.badge--positive 7
          %span.badge.badge--negative 3
        .heading.heading--h2 Suite S2
        .heading.heading--h3 SubSuite SS1
        .text
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
        .heading.heading--h4 Test T2
        .text
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
        .heading.heading--h2 Suite S3
        .divider
      .section
        .heading.heading--h1
          Feature B
      .divider
      .section
        .heading.heading--h1
          Feature C
      .divider
      .section
        .heading.heading--h1
          Feature D
      .divider

    .footer
      ahuba production
      
    -# %script(src='target/reporter.js')
    -# %script reporter.core.run();

