!!! HTML
%html
  %head
    %title Test Report
    %link(rel='stylesheet' type='text/css' href='css/report.css')
    %script(src='data.js')
  %body
    %div#header
    %div#main
    %div.footer
      Made by Alexey Huba
    %script(src='target/reporter.js')
    %script reporter.core.run();

